.image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -9999;
}

.blur {
  //background: radial-gradient(309.21% 108.75% at 125.1% 36.06%, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.16) 51.24%, rgba(0, 0, 0, 0.00) 89.78%), rgba(0, 0, 0, 0.20);
  background: rgba(0, 0, 0, 0.45);
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  z-index: -5555;
}