.news {
  height: 100vh;

  main {
    position: relative;
    width: 100vw;
    height: calc(100% - 5rem - 4rem);
    display: flex;
    align-items: center;
  }

  .footer_menu {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    flex-shrink: 0;
    user-select: none;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9.5rem;
      height: 2rem;
      color: #FFF;
      font-family: Muller;
      font-size: 1rem;
      font-weight: 700;

      border-radius: 0.5rem;
      border: 1px solid rgba(255, 255, 255, 0.20);
      background: rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(20px);
      opacity: 0.6;

      &:active {
        color: #FFF;
      }

      &:hover {
        opacity: 1;
        background: #FFF;
        color: #000000;
      }
    }
  }
}