.button {
  min-width: 15rem;
  height: 3rem;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.10);
  font-family: Muller;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: background-color .1s ease-out;

  &:hover {
    color: #000000;
    background-color: #FFFFFF;
  }
}